[[source]]
url = "https://pypi.org/simple/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
mlflow = "*"
boto3 = "*"
psycopg2 = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
xgboost = "*"
hyperopt = "*"
mage-ai = "*"

[dev-packages]

[requires]
python_version = "3.11"
